<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">

      <!-- Forma larga de implementar un menu
        <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>-->
      <ion-menu-button color="primary" menu="primerMenu"></ion-menu-button>

    </ion-buttons>
    <ion-title color="primary">Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!--<ion-item routerLink="/alert" detail>
      <ion-label>Alert</ion-label>
    </ion-item>
    <ion-item routerLink="/action-sheet" detail>
        <ion-label>Action Sheet</ion-label>
      </ion-item>    ESTA ES LA FORMA MANUAL  -->
      <ion-item *ngFor="let c of components | async"
              [routerLink]="c.redirectTo" detail>
        <ion-icon slot="start" [name]="c.icon" color="primary"></ion-icon>
        <ion-label>{{c.name}}</ion-label>
      </ion-item>
  </ion-list>
  <!--<ion-button routerLink="/alert">
    Alert
  </ion-button>
  <ion-button routerLink="/action-sheet">
    Action Sheet
  </ion-button>-->
</ion-content>
